<!DOCTYPE html>
<html>
<head>
  <title>White vision</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "white_vision/application", media: "all" %>
  <%= javascript_include_tag "white_vision/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
